@import url('https://fonts.googleapis.com/css?family=Roboto');

@media (min-width: 576px) {
    .content {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
}

@media (max-width: 768px) {
    .author {
        text-align: center !important;
    }
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #edf2f6;
}

.topic-image h1 {
    font-size: 50px;
    font-weight: 700;
    color: #ffffff;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

.bg-gray {
    background-color: #404257;
}

.topic-image {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    min-height: 350px;
    background-color: #404257;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
}

.topic-featured {
    height: 140px;
    width: 140px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.topic-list{
    height: 200px;
    max-width: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sub-menu {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    min-height: 100px;
    padding-left: 0px;
    padding-right: 0px;
    background-color: #ffffff;
}

.sub-menu a {
    margin-left: 15px;
    margin-right: 15px;
}

.scroll {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }
  
  .flex {
    display: flex;
    flex-wrap: nowrap;
  }
  

  .nav-item {
    flex: 0 0 auto;
  }
  
  .nav-item {
    padding: 13px 16px 12px;
  }
  
  .nav-item {
    font-size: 14px;
  }
  
  .scroll::-webkit-scrollbar {
    display: none;
  }

  .sidebar {
    position: fixed;
    background-color: #ffffff;
    width: 70px;
    top: 60px;
    bottom: 0;
    left: 0;
    padding: 0px;
    z-index: 1000;
    overflow: hidden;
    box-shadow: 1px 5px 15px #a2a2a2;
}

.sidebar .nav-link, .sidebar .nav-item {
    padding: 0px;
}

.sidebar img {
    border-radius: 50%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.gallery {
    padding-left: 15px;
    padding-right: 15px;
}

.bottom-right {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.love-button {
    font-size: 24px;
    height: 70px;
    width: 70px;
}

.love-button i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.footer {
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background-color: #f5f5f5;
}