{% extends 'core/base.html' %}

{% block content%}
<div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span></h2>
        <p class="lead">
            Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
            <a class="btn btn-primary btn-sm" href="news.html">Leer más...</a>
        </p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="https://picsum.photos/500/200/?random=1" alt="Generic placeholder image">
    </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">
            Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
            <a class="btn btn-primary btn-sm" href="news.html">Leer más...</a>
        </p>
    </div>
    <div class="col-md-5 order-md-1">
        <img class="featurette-image img-fluid mx-auto" src="https://picsum.photos/500/200/?random=2" alt="Generic placeholder image">
    </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
    <div class="col-md-7">
        <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
        <p class="lead">
            Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
            <a class="btn btn-primary btn-sm" href="news.html">Leer más...</a>
        </p>
    </div>
    <div class="col-md-5">
        <img class="featurette-image img-fluid mx-auto" src="https://picsum.photos/500/200/?random=3" alt="Generic placeholder image">
    </div>
</div>
{% endblock %}

{% block pagination %}
<hr class="featurette-divider">
<!-- pagination -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <nav aria-label="...">
                <ul class="pagination">
                    <li class="page-item disabled">
                    <span class="page-link">Anterior</span>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item active">
                    <span class="page-link">
                        2
                        <span class="sr-only">(current)</span>
                    </span>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item">
                    <a class="page-link" href="#">Siguiente</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<!-- endpagination -->
{% endblock %}